/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params.schema_ignore_params = "baseDir,base-dir,outputDir,output-dir,test_data"
